html {
    background-color: rgba(45,233,12,.8);
    color: white;
}
body {
	font-family: sans-serif,verdana;
    font-size: 1.4em;
    text-transform: capitalize;
    line-height: 1.5;
    margin-left: 12px;
    padding: 12px;
    position: relative;
    display: grid;
    place-items: center;
}
label {
    margin-left: 7px;
    border-bottom: 1px solid #676767;
}
select {
    width: max-content;
    font-size: inherit;
    padding: 4px 12px;
}
h1 {
    border-bottom: 2px dotted #433333;
    text-align: center;
    display: table;
    transition: ease 300ms;
}
h1:hover {
    border-color: indianred;
    border-bottom-style: solid;
}
h6.author {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0 0 12px 0;
}